$gameWidth: 600px;
$gameHeight: 400px;
$center: translate(-50%, 0);

$sellBtnColor: rgb(235, 235, 235);
$sellBtnBg: rgb(76, 158, 76);
$sellBtnBorder: 2px solid rgb(14, 139, 14);

$sellBtnBgHovered: rgb(81, 182, 81);
$sellBtnBorderHovered: 2px solid rgb(18, 163, 18);

$buyBtnColor: rgb(235, 235, 235);
$buyBtnBorder: 2px solid rgb(161, 0, 0);
$buyBtnBg: rgb(182, 0, 0);

$buyBtnBgHovered: rgb(161, 0, 0);
$buyBtnBorderHovered: 2px solid rgb(200, 0, 0);

$buyBtnRadius: 7px;

$sellColor: rgb(235, 235, 235);
$buyColor: rgb(235, 235, 235);

$navBorder: 2px solid rgba(255, 255, 255, 0.5);
$inventoryBorder: 2px solid rgba(0, 0, 0, 0.8);
$sellItemBorder: 1px solid rgba(0, 0, 0, 0.8);

$lightness: 1 * 70%;

$menuOverlayBg: hsla(360, 120, 0, $lightness);

p {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

li {
	list-style: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
}

/** Canvas */

.container {
	position: relative;

	#canvas {
		position: absolute;
		margin: 0 auto;
		left: 50%;
		transform: $center;
		z-index: 10;
	}
}

#inventory {
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: $center;
	width: $gameWidth;
	height: $gameHeight;
	background-color: $menuOverlayBg;
	z-index: 100;
}

#death-menu {
	position: absolute;
	left: 50%;
	transform: $center;
	width: 600px;
	height: 400px;
	background-color: $menuOverlayBg;
	z-index: 100;

	.death-menu-stats {
		margin: 0;
		margin-top: 2rem;
		padding: 0;
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid lightskyblue;
	}
	.death-menu-survival-stats {
		margin-top: 0.5rem;
	}

	.death-menu-buttons {
		border: 1px solid lightcoral;
		margin-top: 5rem;
		.death-btn {
			margin-right: 1rem;
			margin-left: 1rem;
			padding: 0.5rem 1rem;
			border-radius: 10px;
		}
	}
}

.hide {
	display: none;
}

.show {
	display: flex;
	flex-direction: column;
}

.inventory-closed {
	display: none;
}

.inventory-open {
	display: flex;
	flex-direction: column;
}

.inventory-sections {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
}

.inventory-nav {
	display: flex;
	flex-direction: row-reverse;
	border-bottom: $inventoryBorder;

	.inventory-nav-list {
		display: flex;
		align-self: center;
		align-items: center;
		padding: 0 1rem;
		width: 100%;

		.inventory-nav-item {
			margin: 0 2rem;
		}
		.inventory-nav-item:first-child {
			margin: 0 2rem 0 auto;
		}
	}
}

#inventory-exit {
	margin-left: auto;
	background-color: rgb(133, 4, 4);
	color: rgb(240, 6, 6);
	border: 1px solid rgb(240, 6, 6);
	border-radius: 5px;
}
#inventory-exit:hover {
	background-color: rgb(168, 5, 5);
	color: rgb(255, 95, 95);
	border: 1px solid rgb(255, 95, 95);
}

.buy-nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	padding-bottom: 0.5rem;
	border-bottom: $navBorder;

	.buy-nav-item {
		margin-right: 1rem;
		height: 32px;
		width: 32px;

		button {
			padding: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.buy-section {
	color: $buyColor;
	width: 300px;
	display: flex;
	text-align: center;
	font-size: 15px;

	h4 {
		font-size: 16px;
	}

	.buy-list {
		display: flex;
		flex-flow: row nowrap;

		.buy-list-item {
			margin-right: 1rem;

			.buy-btn {
				border: $buyBtnBorder;
				background-color: $buyBtnBg;
				border-radius: $buyBtnRadius;
				color: $buyBtnColor;
			}

			.buy-btn:hover {
				border: $buyBtnBorderHovered;
				background-color: $buyBtnBorderHovered;
			}
		}

		.buy-list-item-info {
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			> * {
				margin-top: 0.2rem;
			}
		}
	}
}

.buy-list-inactive {
	display: none;
}

.buy-list-active {
	display: flex;
	flex-direction: column;
}

.sell-section {
	color: $sellColor;
	width: 300px;
	border-right: $inventoryBorder;
	padding-top: 0.5rem;

	.sell-list {
		margin: 0;
		padding: 0;
		max-height: 100%;
		max-width: 90%;
		display: flex;
		flex-direction: column;

		.sell-list-item-info {
			display: flex;
			flex-direction: column;
			width: 80%;
		}
		.sell-list-item-info > * {
			width: 50%;
			// margin: 0 auto;
		}
		.sell-list-item {
			display: inline-flex;
			margin-top: 0.5rem;
			margin-left: 0.5rem;
			padding: 0.25rem 0 0.25rem 1rem;
			align-items: center;
			font-size: 15px;
			border-bottom: $sellItemBorder;

			.sell-btn {
				margin-top: 0.5rem;
				padding: 0.25rem 0.5rem;
				border-radius: 5px;
				color: $sellBtnColor;
				background-color: $sellBtnBg;
				border: $sellBtnBorder;
			}

			.sell-all-btn {
				width: 5rem;
				margin-right: 0.5rem;
			}
		}

		.can-sell {
			transition: ease-in-out border 50ms;
		}

		.sell-btn:hover {
			background-color: $sellBtnBgHovered;
			border: $sellBtnBorderHovered;
		}
	}
}

/** Map Info */

.editor {
	display: none;
}

.MapInfo {
	/* display: none; */
	border: 1px solid grey;
}

/** Player Score  */

.player-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
	min-height: 150px;
}

/** Player Info **/

.player-info > * {
	display: inline;
	font-weight: 400;
	letter-spacing: 0.25mm;
	height: 100px;
}

.player-info {
	display: none;
	position: fixed;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0);
	height: auto;
	width: auto;
	background-color: #313131;
	color: #cecece;
	padding: 1rem 1rem 0.5rem;
	border-radius: 0 0 25px 25px;
}

/** Player-Info Animation  **/
.visible {
	height: auto;
	width: auto;
	transition: all ease-in-out 100ms;
	transform: translate(-50%, 0);
}

.invisible {
	height: auto;
	width: auto;
	transition: all ease-in-out 100ms;
	transform: translate(-50%, -100%);
}

#displayName {
	position: absolute;
}

/** Create User Menu */

.form-fields {
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 0 0 15px 15px;
	padding: 1rem 3rem 5rem;

	label {
		margin-top: 2rem;
	}
}

.form-fields :is(input[type="text"]) {
	width: 80%;
	margin: 0.25rem auto 0;
}

.form-fields :is(input[type="submit"]) {
	width: 50%;
	margin: 3rem auto 0;
	border-radius: 10px;
	border: none;
	padding: 0.5rem 0.75rem;
}

.form-fields :is(input[type="submit"]):hover {
	border: 2px solid lightblue;
}

.retry {
	font-size: 14px;
	color: rgb(240, 6, 6);
	padding-right: 0.5rem;
}

/*?-- Map Editor Section --?*/

.editor {
	width: 60vw;
	margin: 0 auto;
	background-color: antiquewhite;
}

.editor-selected {
	margin: 0;
	width: 50%;
	border: 1px solid grey;
	border-radius: 0 0 5px 0;
	background-color: white;

	h4 {
		margin: 0;
		padding: 0;
	}
}

.editor-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: orange;
}

.editor-button {
	margin: 0;
	margin-right: 1rem;
	padding: 0.5rem 1.25rem;
}
