.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  background-color: #664924;
}

.nav li a {
  color: #20e020;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#settings {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.bgColorSetter {
  padding: 0.25rem 1rem;
  border-radius: 6px;
}

.black {
  background-color: black;
}

.black > * {
  color: white;
}

.white {
  background-color: white;
}

.white > * {
  color: black;
}

/** Canvas */
.container {
  position: relative;
}

.container #canvas {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
}

#inventory {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

#death-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

#death-menu .death-menu-stats {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid lightskyblue;
}

#death-menu .death-menu-survival-stats {
  margin-top: 0.5rem;
}

#death-menu .death-menu-buttons {
  border: 1px solid lightcoral;
  margin-top: 5rem;
}

#death-menu .death-menu-buttons .death-btn {
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#player-inventory-exit {
  padding: 0.35rem 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: crimson;
  border: 1px solid black;
}

#player-inventory-exit:hover {
  background-color: #eb395d;
  color: #333333;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closed {
  display: none;
}

#player-inventory {
  z-index: 100;
}

.ores {
  border-right: 1px solid grey;
}

.ores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-width: 300px;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.ores .mystery-ore-0,
.ores .mystery-ore-1,
.ores .mystery-ore-2 {
  background-clip: content-box;
  background-size: 100%;
  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
}

.ores .mystery-ore-0 {
  background-image: url("../components/canvas/images/mystery-ore-0.png");
}

.ores .mystery-ore-1 {
  background-image: url("../components/canvas/images/mystery-ore-1.png");
}

.ores .mystery-ore-2 {
  background-image: url("../components/canvas/images/mystery-ore-2.png");
}

.ores .ore-container-outter {
  min-height: 64px;
  max-height: 100px;
}

.ores .ore-container-outter .ore-container-inner {
  position: relative;
}

.ores .ore-container-outter .ore-container-inner .mystery-ore {
  position: absolute;
  margin-left: 10px;
}

.ores .ore-container-outter .ore-container-inner .ore {
  min-height: 64px;
  max-height: 100px;
  width: 100%;
}

.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 64px;
  max-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container .ore-header {
  max-width: 100px;
  min-width: 100px;
}

.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container .ore-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  width: 75%;
}

.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container .ore-stats .ore-stat,
.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container .ore-stats .ore-sell {
  margin-right: 10px;
}

.ores .ore-container-outter .ore-container-inner .ore .ore-inner-container .ore-stats .sell-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upgrade-level,
.upgrade-unlock {
  display: none;
}

.player-skills-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 100;
  background-color: white;
  border: 1px solid black;
  width: 600px;
  height: 500px;
}

.player-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-ores,
.player-upgrades {
  max-width: 300px;
  min-width: 300px;
  max-height: 500px;
  min-height: 500px;
}

.player-upgrades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.player-upgrades .skill {
  max-width: 150px;
  min-width: 150px;
  max-height: 100px;
  min-height: 100px;
  padding: 0 0.25rem;
}

.player-upgrades .skill > * {
  margin-top: 0.25rem;
}

.player-upgrades .skill .upgrade-btn {
  width: 80%;
  margin: 0 auto;
}

/** Map Info */
.editor {
  display: none;
}

.MapInfo {
  /* display: none; */
  border: 1px solid grey;
}

/** Player Score  */
.player-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  min-height: 150px;
}

/** Player Info **/
.player-info > * {
  display: inline;
  font-weight: 400;
  letter-spacing: 0.25mm;
  height: 100px;
}

.player-info {
  display: none;
  position: fixed;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: auto;
  width: auto;
  background-color: #313131;
  color: #cecece;
  padding: 1rem 1rem 0.5rem;
  border-radius: 0 0 25px 25px;
}

/** Player-Info Animation  **/
.visible {
  height: auto;
  width: auto;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.invisible {
  height: auto;
  width: auto;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

#displayName {
  position: absolute;
}

/** Create User Menu */
.form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 0 0 15px 15px;
  padding: 1rem 3rem 5rem;
}

.form-fields label {
  margin-top: 2rem;
}

.form-fields :is(input[type="text"]) {
  width: 80%;
  margin: 0.25rem auto 0;
}

.form-fields :is(input[type="submit"]) {
  width: 50%;
  margin: 3rem auto 0;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0.75rem;
}

.form-fields :is(input[type="submit"]):hover {
  border: 2px solid lightblue;
}

.retry {
  font-size: 14px;
  color: #f00606;
  padding-right: 0.5rem;
}

/*?-- Map Editor Section --?*/
.editor {
  width: 60vw;
  margin: 0 auto;
  background-color: antiquewhite;
}

.editor-selected {
  margin: 0;
  width: 50%;
  border: 1px solid grey;
  border-radius: 0 0 5px 0;
  background-color: white;
}

.editor-selected h4 {
  margin: 0;
  padding: 0;
}

.editor-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: orange;
}

.editor-button {
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem 1.25rem;
}
/*# sourceMappingURL=main.css.map */