@import "variables";
@import "util";
@import "defaults";
@import "nav";
@import "player_inventory";

// BACKGROUND COLOR
#settings {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.bgColorSetter {
	padding: 0.25rem 1rem;
	border-radius: 6px;
}

/** Canvas */

.container {
	position: relative;

	#canvas {
		position: absolute;
		margin: 0 auto;
		left: 50%;
		transform: $center;
		z-index: 10;
	}
}

.popup {
	height: 100%;
	width: 100%;
}

.death-menu {
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.death-menu-header {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	padding-bottom: 5rem;
}

.death-menu-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto;
	width: 50%;
	&:first-child {
		margin-top: 2rem;
	}

	> * {
		margin-right: 2.5rem;
		margin: 0.75rem auto;
	}

	> *:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

#death-menu {
	position: absolute;
	left: 50%;
	transform: $center;
	width: 600px;
	height: 400px;
	background-color: $menuOverlayBg;
	z-index: 100;

	.death-menu-stats {
		margin: 0;
		margin-top: 2rem;
		padding: 0;
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid lightskyblue;
	}
	.death-menu-survival-stats {
		margin-top: 0.5rem;
	}

	.death-menu-buttons {
		border: 1px solid lightcoral;
		margin-top: 5rem;
		.death-btn {
			margin-right: 1rem;
			margin-left: 1rem;
			padding: 0.5rem 1rem;
			border-radius: 10px;
		}
	}
}

/** Map Info */

.editor {
	display: none;
}

.MapInfo {
	/* display: none; */
	border: 1px solid grey;
}

/** Player Score  */

.player-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
	min-height: 150px;
}

/** Player Info **/

.player-info > * {
	display: inline;
	font-weight: 400;
	letter-spacing: 0.25mm;
	height: 100px;
}

.player-info {
	display: none;
	position: fixed;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0);
	height: auto;
	width: auto;
	background-color: #313131;
	color: #cecece;
	padding: 1rem 1rem 0.5rem;
	border-radius: 0 0 25px 25px;
}

/** Create User Menu */

.form-fields {
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 0 0 15px 15px;
	padding: 1rem 3rem 5rem;

	label {
		margin-top: 2rem;
	}
}

.form-fields :is(input[type="text"]) {
	width: 80%;
	margin: 0.25rem auto 0;
}

.form-fields :is(input[type="submit"]) {
	width: 50%;
	margin: 3rem auto 0;
	border-radius: 10px;
	border: none;
	padding: 0.5rem 0.75rem;
}

.form-fields :is(input[type="submit"]):hover {
	border: 2px solid lightblue;
}

.retry {
	font-size: 14px;
	color: rgb(240, 6, 6);
	padding-right: 0.5rem;
}
