// ? --- Player-Skills ---
#inventory {
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: $center;
	width: $gameWidth;
	height: $gameHeight;
	background-color: $menuOverlayBg;
	z-index: 100;
}

#player-inventory-exit {
	padding: 0.35rem 0.5rem;
	position: absolute;
	right: 0;
	top: 0;
	background-color: crimson;
	border: 1px solid black;
}

#player-inventory-exit:hover {
	background-color: rgb(235, 57, 93);
	color: rgb(51, 51, 51);
}

.open {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.closed {
	display: none;
}

#player-inventory {
	z-index: 100;
}

.ores {
	border-right: 1px solid grey;
}

.ores {
	display: flex;
	height: auto;
	min-width: 300px;
	max-width: 300px;
	flex-flow: column nowrap;

	.mystery-ore-0,
	.mystery-ore-1,
	.mystery-ore-2 {
		background-clip: content-box;
		background-size: 100%;
		min-height: $ore_height;
		max-height: $ore_height;
		min-width: $ore_height;
		max-width: $ore_height;
	}
	.mystery-ore-0 {
		background-image: $mystery_ore_0;
	}
	.mystery-ore-1 {
		background-image: $mystery_ore_1;
	}
	.mystery-ore-2 {
		background-image: $mystery_ore_2;
	}

	.ore-container-outter {
		min-height: $ore_height;
		max-height: 100px;

		.ore-container-inner {
			position: relative;

			.mystery-ore {
				position: absolute;
				margin-left: 10px;
			}
			.ore {
				min-height: $ore_height;
				max-height: 100px;
				width: 100%;

				.ore-inner-container {
					display: flex;
					min-height: $ore_height;
					max-height: 100px;
					align-items: center;
					.ore-header {
						max-width: 100px;
						min-width: 100px;
					}

					.ore-stats {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						margin-left: auto;
						width: 75%;

						.ore-stat,
						.ore-sell {
							margin-right: 10px;
						}

						.sell-btn {
							padding: 0.5rem 0.75rem;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}
}

.skill {
	display: flex;
	flex-direction: column;
}

.upgrade-level,
.upgrade-unlock {
	display: none;
}

.player-skills-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: $center;
	z-index: 100;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	width: 600px;
	height: 500px;
}

.player-skills {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.player-ores,
.player-upgrades {
	max-width: 300px;
	min-width: 300px;
	max-height: 500px;
	min-height: 500px;
}

.player-upgrades {
	display: flex;
	flex-flow: row nowrap;

	.skill {
		max-width: 150px;
		min-width: 150px;
		max-height: 100px;
		min-height: 100px;
		padding: 0 0.25rem;

		> * {
			margin-top: 0.25rem;
		}

		.upgrade-btn {
			width: 80%;
			margin: 0 auto;
		}
	}
}
