body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

li {
	list-style: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	background: pink;
}

.inventory-closed {
	display: none;
}

.inventory-open {
	display: flex;
	flex-flow: row wrap;
}

.player-inventory {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 400px;
	width: 600px;
}

#inventory-exit {
	margin: 0.75rem 0.75rem 0 auto;
	align-self: baseline;
	background-color: rgb(133, 4, 4);
	color: rgb(240, 6, 6);
	border: 1px solid rgb(240, 6, 6);
	border-radius: 5px;
}

#inventory-exit:hover {
	background-color: rgb(168, 5, 5);
	color: rgb(255, 95, 95);
	border: 1px solid rgb(255, 95, 95);
}

.inventory-nav {
	display: flex;
	flex-direction: row-reverse;
	background-color: lightskyblue;
	width: 100%;
	height: 25%;
}

.inventory-nav-list {
	display: flex;
	align-self: center;
	border: 1px solid black;
	align-items: center;
	width: 80%;
}

.sell-section {
	background-color: lightcoral;
	width: 30%;
	height: 75%;
}
.buy-section {
	background-color: lightgreen;
	flex-grow: 2;
	flex-shrink: 2;
	width: 70%;
}

.sell-header {
	padding-top: 0.5rem;
}

.sell-list {
	margin: 0;
	padding: 0;
	max-height: 100%;
	max-width: 90%;
	display: flex;
	flex-direction: column;
}

.sell-list-item-info {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.sell-list-item-info > * {
	/* width: 50%; */
	margin: 0 auto;
}

.sell-list-item {
	display: inline-flex;
	margin-top: 0.5rem;
	padding: 0.25rem 0 0.25rem 1rem;
	align-items: center;
	font-size: 15px;
}

.sell-btn {
	margin-top: 0.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	max-height: 2rem;
	background-color: rgb(99, 194, 99);
	border: 2px solid rgb(12, 155, 12);
}
.sell-btn:hover {
	background-color: rgb(108, 219, 108);
	border: 2px solid rgb(15, 182, 15);
}

/** Canvas */

#canvas {
	margin-top: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/* border-top-color: none;
	border: 1px solid black; */
}

/** Map Info */

.editor {
	display: none;
}

.MapInfo {
	/* display: none; */
	border: 1px solid grey;
}

/** Player Score  */

.player-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	/* max-height: 50px; */
}

/** Player Info **/

.player-info > * {
	display: inline;
	font-weight: 400;
	letter-spacing: 0.25mm;
}

.player-info {
	display: none;
	position: fixed;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0);
	height: auto;
	width: auto;
	background-color: #313131;
	color: #cecece;
	padding: 1rem 1rem 0.5rem;
	border-radius: 0 0 25px 25px;
}

/** Player-Info Animation  **/

.visible {
	height: auto;
	width: auto;
	transition: all ease-in-out 100ms;
	transform: translate(-50%, 0);
}

.invisible {
	height: auto;
	width: auto;
	transition: all ease-in-out 100ms;

	transform: translate(-50%, -100%);
}

#displayName {
	position: absolute;
}

/** Create User Menu */

.form-fields {
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 0 0 15px 15px;
	padding: 1rem 3rem 5rem;
}

.form-fields label {
	margin-top: 2rem;
}

.form-fields :is(input[type="text"]) {
	width: 80%;
	margin: 0.25rem auto 0;
}

.form-fields :is(input[type="submit"]) {
	width: 50%;
	margin: 3rem auto 0;
	border-radius: 10px;
	border: none;
	padding: 0.5rem 0.75rem;
}

.form-fields :is(input[type="submit"]):hover {
	border: 2px solid lightblue;
}

.retry {
	font-size: 14px;
	color: rgb(240, 6, 6);
	padding-right: 0.5rem;
}

/*?-- Map Editor Section --?*/

.editor {
	width: 60vw;
	margin: 0 auto;
	background-color: antiquewhite;
}

.editor-selected {
	margin: 0;
	width: 50%;
	border: 1px solid grey;
	border-radius: 0 0 5px 0;
	background-color: white;
}

.editor-selected h4 {
	margin: 0;
	padding: 0;
}

.editor-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: orange;
}

.editor-button {
	margin: 0;
	margin-right: 1rem;
	padding: 0.5rem 1.25rem;
}
